<h1 class="text-3xl font-semibold text-gray-800 mb-6">All Payouts</h1>

<div class="overflow-x-auto bg-white shadow-md rounded-lg">
  <table class="min-w-full table-auto">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th class="px-6 py-3 font-semibold text-sm text-gray-700 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 font-semibold text-sm text-gray-700 uppercase tracking-wider">Creator</th>
        <th class="px-6 py-3 font-semibold text-sm text-gray-700 uppercase tracking-wider">Amount</th>
        <th class="px-6 py-3 font-semibold text-sm text-gray-700 uppercase tracking-wider">Status</th>
        <th class="px-6 py-3 font-semibold text-sm text-gray-700 uppercase tracking-wider">Actions</th>
      </tr>
    </thead>

    <tbody  id="payout_list">
      <% @payouts.each_with_index do |payout, index| %>
        <%= render partial: "payout", locals: { payout: payout, index: index } %>
      <% end %>
    </tbody>
  </table>
</div>
